<div class="pokemon">

  <div class="row pokemon__img">
    <div class="col-12 text-center">
      <img src={{this.pokemon.photo}}>
    </div>
  </div>
  <div class="row pokemon__name">
    <div class="col-12">
      <h1>{{this.pokemon.name}}</h1>
    </div>
  </div>
  <div class="row pokemon__weight">
    <div class="col-12">
      <h6>Weight</h6>
      <p>{{this.pokemon.weight}}</p>
    </div>
  </div>
  <div class="row pokemon__ability">
    <div class="col-12">
      <h6>Abilities</h6>
      <tr *ngFor="let ability of this.pokemon.abilities">
        <td>{{ability}}</td>
      </tr>
    </div>
  </div>
  <div class="row pokemon__types">
    <div class="col-12">
      <h6>Types</h6>
      <tr *ngFor="let type of this.pokemon.types">
        <td>{{type}}</td>
      </tr>
    </div>
  </div>
  <div>
    <a (click)="previousPokemon()">
      <span>Previous</span>
    </a>
    <a (click)="viewDetails(this.pokemon.id)">
      <span>View details</span>
    </a>
    <a (click)="nextPokemon()">
      <span>Next</span>
    </a>
  </div>


</div>